<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Days Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Calculate Available Working Days for Outdoor Construction</h1>
        <form id="date-form">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
            <button type="submit" id="submit-btn">Calculate</button>
        </form>
        <div id="result" class="result-container">
        </div>
        <div id="error-message" class="error-container"></div>
    </div>

    <div id="calendarContainer"> </div>
    <div id="testResultsContainer"> </div>
    <div id="dashboardContainer"> </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='visuals.js') }}"></script>
</body>
</html>
